extends layout

block content

  form(action="." method="POST")
    label(for="name") Name:
    input(
      type="text"
      id="name"
      name="name"
    )

    br

    label(for="email") Email:
    input(
      type="email"
      id="email"
      name="email"
    )

    br

    input(type="submit" value="Submit")