doctype html
html
  head
    title= `${title}`
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/styles.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js')
    script(src="https://cdn.jsdelivr.net/gh/emn178/chartjs-plugin-labels/src/chartjs-plugin-labels.js")

  body
    div.row.no-gutters
      div.col.no-gutters
        div.div-left
          block content
      div.col.no-gutters
        div.div-right
          if json.length
            div.div-right-header.no-gutters
              b Nome do arquivo:
              p #{nome_arquivo}
            table.listing-table.table-dark.table-striped
              thead
                tr
                  th id
                  th data_evento
                  th hora_evento
                  th turno
                  th status
              tbody
                each elem,i in json
                  tr
                    td #{elem.id}
                    td #{elem.data_evento}
                    td #{elem.hora_evento}
                    td #{elem.turno}
                    td #{elem.status}
          else
            p Sem registros carregados.

    script.
      var xValues = ["Bom", "Ruim"];
      var yValues_T1 = [!{status["T1"]["B"]}, !{status["T1"]["E"]}];
      var yValues_T2 = [!{status["T2"]["B"]}, !{status["T2"]["E"]}];
      var yValues_T3 = [!{status["T3"]["B"]}, !{status["T3"]["E"]}];
      var barColors = [
        "#1a9850",
        "#b91d47"
      ];
      
      new Chart("doughnutChart_T1", {
        type: "doughnut",
        data: {
          labels: xValues,
          datasets: [{
            backgroundColor: barColors,
            data: yValues_T1
          }]
        },
        options: {
          title: {
            display: true,
            text: "T1 (Total: " + !{status["T1"]["B"] + status["T1"]["E"]} + ')'
          },
          plugins: {
            labels: {
              render: 'value',
              fontColor: '#fff'
            }
          }
        }
      });

      new Chart("doughnutChart_T2", {
        type: "doughnut",
        data: {
          labels: xValues,
          datasets: [{
            backgroundColor: barColors,
            data: yValues_T2
          }]
        },
        options: {
          title: {
            display: true,
            text: "T2 (Total: " + !{status["T2"]["B"] + status["T2"]["E"]} + ')'
          },
          plugins: {
            labels: {
              render: 'value',
              fontColor: '#fff'
            }
          }
        }
      });

      new Chart("doughnutChart_T3", {
        type: "doughnut",
        data: {
          labels: xValues,
          datasets: [{
            backgroundColor: barColors,
            data: yValues_T3
          }]
        },
        options: {
          title: {
            display: true,
            text: "T3 (Total: " + !{status["T3"]["B"] + status["T3"]["E"]} + ')'
          },
          plugins: {
            labels: {
              render: 'value',
              fontColor: '#fff'
            }
          }
        }
      });

      var xValues_line_T1 = !{JSON.stringify(yield_T1["yield"])};
      var xLabels_line_T1 = !{JSON.stringify(yield_T1["date"])};
      var xColors_line_T1 = !{JSON.stringify(yield_T1["color"])};

      new Chart("lineChart_T1", {
        type: "line", 
        data: {
          labels: xLabels_line_T1,
          datasets: [{
            label: 'Yield (T1)',
            data: xValues_line_T1,
            fill: true,
            pointRadius: 5,
            pointBackgroundColor: xColors_line_T1,
            tension: 0.1
          }]
        }
      });

      var xValues_line_T2 = !{JSON.stringify(yield_T2["yield"])};
      var xLabels_line_T2 = !{JSON.stringify(yield_T2["date"])};
      var xColors_line_T2 = !{JSON.stringify(yield_T2["color"])};

      new Chart("lineChart_T2", {
        type: "line", 
        data: {
          labels: xLabels_line_T2,
          datasets: [{
            label: 'Yield (T2)',
            data: xValues_line_T2,
            fill: true,
            pointRadius: 5,
            pointBackgroundColor: xColors_line_T2,
            tension: 0.1
          }]
        }
      });

      var xValues_line_T3 = !{JSON.stringify(yield_T3["yield"])};
      var xLabels_line_T3 = !{JSON.stringify(yield_T3["date"])};
      var xColors_line_T3 = Object.assign([], !{JSON.stringify(yield_T3["color"])});

      new Chart("lineChart_T3", {
        type: "line", 
        data: {
          labels: xLabels_line_T3,
          datasets: [{
            label: 'Yield (T3)',
            data: xValues_line_T3,
            fill: true,
            pointRadius: 5,
            pointBackgroundColor: xColors_line_T3,
            tension: 0.1
          }]
        }
      });
